
# Database
DATABASE_URL=postgresql://s748779@localhost:5432/amplyfy

# Timezone & site defaults (used by ETL examples)
SITE_NAME=Pilot C&I Rooftop
SITE_LAT=-33.870
SITE_LON=151.205
SITE_TZ=Australia/Sydney

# External APIs
# NSRDB (optional; required for some downloads)
NREL_API_KEY='tRMfLF9wdFpkOTY9flnqJJg0EtdzK4w1Y5TnUtdV'
NREL_API_EMAIL='learnervk7@gmail.com'
